<!DOCTYPE html>
<html>
<head>
  <title>Raja Bahadur Venkat Rama Reddy Women's College</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %><f/p>

<%= render 'layouts/header' %>
<%= render 'layouts/help' %>
<%= render 'layouts/notice' %>
<%= yield %>

<%= render 'layouts/footer' %>
</div>
</body>
</html>
