<!DOCTYPE html>
<html>
<head>
  <title>Raja Bahadur Venkat Rama Reddy Women's College</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<%= render 'layouts/help' %>
</head>
<body>

<%= render 'layouts/notice' %>
<%= yield %>


</div>
</body>
</html>
